<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-53922-1661575872/blob/main/N_Jothipriya%5BAssignment_3%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Exercises**

Answer the questions or complete the tasks outline in bold below, use the specific method described if applicable.

**what is 7 to the power of 4 ?**

In [ ]:
print(7**4)

2401

**Split this string:**

            s="Hi there Sam!"

**into a list.**

In [ ]:
s="Hi there Sam!"
s=s.split(" ")
print(s)

['Hi', 'there', 'Sam!']

In [ ]:
s="Hi there Dad!"
s=s.split(" ")
print(s)

['Hi', 'there', 'Dad!']

**Given the Variables:**

       planet = "Earth"
       diameter = 12742

**Use.format() to print the following string:**

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

**Given this nested list,use indexing to grap the word"hello"**

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

**Given this nest dictionary grab the word "hello". Be prepared,this will be annoying /tricky**

In [ ]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d["k1"][3]["tricky"][3]["target"][3])

hello

**what is the main difference between a tuple and a list?**

In [ ]:
print("Tuple is immutable, list items can be changed")

Tuple is immutable, list items can be changed

**Create a function that grabs the email website domain from a string in the form:**

      user@domain.com

**So for example, passing"user@domain.com" would return:domain.com**

In [ ]:
def email(email):
  return str(email).split("@")[1]

In [ ]:
email_var = "user@domain.com"
print(email(email_var))

domain.com

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

In [ ]:
def word_found(word):
  return True if "dog" in str(word) else False

In [ ]:
word = "Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization"
print(word_found(word))

True

**Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.**

In [ ]:
def word_found_counts(word):
  return word.count("dog")

In [ ]:
word = "Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization dogs"
print(word_found_counts(word))

2

**Problem**

**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.**

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed + 5
    else:
        speeding = speed
    
    if speeding <= 80 :
        return 'Small Ticket'
    elif speeding <= 60:
        return 'No Ticket'
    else:
        return 'Big Ticket'

In [ ]:
print(caught_speeding(81,True))

Big Ticket

In [ ]:
print(caught_speeding(80,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee = [["kavin",600000],["ram",200000],["kishore",300000],["gowtham",400000],["sath",500000]]
total = 0
for i in employee:
  print(i[1])
  total += i[1]
  
print(total)

600000
200000
300000
400000
500000
2000000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
basic_emp = {
    "Empid" : 1,
    "Empname": "kavin",
    "Basicpay" : 100000.00
}

second_dict = {
    "DeptName" : "Information Technology",
    "DeptId" : 1401
}


combine = {
    "Empid" : basic_emp["Empid"],
    "Empname": basic_emp["Empname"],
    "Basicpay" : basic_emp["Basicpay"],
    "DeptName" : second_dict["DeptName"],
    "DeptId" : second_dict["DeptId"]
}

print(combine)

{'Empid': 1, 'Empname': 'kavin', 'Basicpay': 100000.0, 'DeptName': 'Information Technology', 'DeptId': 1401}